<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Receitas </title>
    <link rel="icon" type="image/png" sizes="16x16" href="Image/Receita-16x16.png">
    <link rel="stylesheet" href="style.css">
<style>
body {
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
        background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
}
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
} 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
</style>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Minhas Receitas</h1>
        </div>
    </header>
    <main>
        <a href="Receita1.html">
            <div class="card">
                <img class="cortada" src="Image/Doritos.jpg" alt="Doritos">
                <div class="titulo">Doritos</div>
            </div>
        </a>
        <a href="Receita2.html">
            <div class="card">
                <img class="cortada" src="Image/Caipirinha.jpg" alt="Caipirinha de Vodka">
                <div class="titulo">Caipirinha de Vodka</div>
            </div>
        </a>

        <a href="Receita3.html">
            <div class="card">
                <img class="cortada" src="Image/Coxinha.jpg" alt="Coxinha de Frango">
                <div class="titulo">Coxinha de Frango</div>
            </div>
        </a>
    </main>
    <footer>
        <div class="footer-content">
            <b>Minhas Receitas</b>
        </div>
        <div class="footer-content">
            Todos os direitos reservados
        </div>
        <div class="footer-content">
            <img src="img/facebook-f-brands.svg" alt="" height="20px">
            <img src="img/youtube-brands.svg" alt="" height="20px">
            <img src="img/pinterest-brands.svg" alt="" height="20px">
        </div>
    </footer>
</body>
</html>
